<html>
<head>
	<title>seat allocation for examination</title>
	<style>
	.float-container {
   
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}
	
	</style>
</head>
<body>

<div class="float-container">

  <div class="float-child">
   
  </div>
  <input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
  
  <div class="float-child">
    <input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
  </div>
  
<
</body>

</html>